h1{
    color: blue;
    text-align: center;

}
h2{
    text-align: center;
    margin-top: 200pt;
    color: black;
}
body{
    background-image: url(https://media.istockphoto.com/id/1150854190/photo/fintech-icon-on-abstract-financial-technology-background.jpg?s=612x612&w=0&k=20&c=6aFUjKj1Ov37c4hsHa7c3Nd15BF2ZhyxWrNscQHdNqM=);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    text-align: center;
    color: red;
    
}